body {
    background: #efefef;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.stage {
    display: none;
}

.stage.active {
    display: block;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #888;
}

button {
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

/* Progress Bar */
#progressBarContainer {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progressBar {
    width: 25%;
    height: 10px;
    background: green;
    border-radius: 5px;
    transition: 0.4s;
}
